<div class="modal fade" id="login-modal" role="dialog">
    <div class="modal-dialog">
        <div class="loginmodal-container">
            <h1>Login to Your Account</h1><br>
            <form action="/login" method="post">
                <input type="text" name="username" placeholder="Username">
                <input type="password" name="password" placeholder="Password">
                <input type="submit" name="login" class="login loginmodal-submit" value="Log In">
            </form>

            <div class="login-help">
                <a href="/signup">Register</a>
            </div>
        </div>
    </div>
</div>