<div class="row">
    <div class="col-md-5">
        <div class="row">
            <div class="col-md-12">
                <a id="call" href="#" class="btn btn-success">
                    <span class="glyphicon glyphicon-play"></span> Presenter</a>
                <a id="viewer" href="#" class="btn btn-primary">
                    <span class="glyphicon glyphicon-user"></span> Viewer</a>
                <a id="terminate" href="#" class="btn btn-danger">
                    <span class="glyphicon glyphicon-stop"></span> Stop</a>
            </div>
        </div>
        <br/>
        <label class="control-label" for="console">Console</label><br><br>
        <div id="console" class="democonsole">
            <ul></ul>
        </div>
    </div>
    <div class="col-md-7">
        <div id="videoBig">
            <video id="video" autoplay width="640px" height="480px" poster="public/img/webrtc.png"></video>
        </div>
    </div>
</div>


