<h3>Bienvenue sur la page de  {{user.username}}</h3>
<div class="row accountPage">
    <div class="col-md-2">
        <div class="imageUser">
            <div align="center"> <img alt="User Pic" src="http://babyinfoforyou.com/wp-content/uploads/2014/10/avatar-300x300.png" class="img-circle img-responsive"> </div>
        </div>
    </div>
    <div class="col-md-10 ">
        <h4>Username :</h4><span>{{user.username}}</span>
        <h4>Bio :</h4><span>{{user.bio}}</span>
    </div>
</div>
