<div class="row">
    <div class="col-md-2">
        <ul class="list-group">
            <li class="list-group-item">
                <a id="call" href="#" class="btn btn-success">
                    <span class="glyphicon glyphicon-play"></span> Start stream
                </a>
            </li>
            <li class="list-group-item">
                <a id="share_screen" href="#" class="btn btn-warning">
                    <span class="glyphicon glyphicon-screenshot"></span> Share screen</a>
            </li>
            <li class="list-group-item">
                <a id="viewer" href="#" class="btn btn-primary">
                <span class="glyphicon glyphicon-user"></span> Join stream</a>
            </li>
            <li class="list-group-item">
                <a id="terminate" href="#" class="btn btn-danger">
                    <span class="glyphicon glyphicon-stop"></span> Stop stream</a>
            </li>
        </ul>
    </div>
    <div class="col-md-7">
        <div id="videoBig" class="embed-responsive">
            <video id="video" class="video_share_screen" autoplay poster="public/img/webrtc.png"></video>
        </div>
    </div>
</div>

{{>chat}}