body {
    background: url("../img/background.jpg")center fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

.title{
	margin-top: 100px;
	color: black;
	text-align: center;
	padding-bottom: 25px;
}

.projetname{
	color: black;
}

.presentation{
	color: white;
	margin-right: 50px;
}

.margezone{ 
  padding-left: 50px;
}

#zone1{
	padding-top: 15px;
	padding-left: 50px; 
	border: 1px solid white;
	background: rgba(0,0,0,0.6);
	border-radius: 10px;
	box-shadow: 5px 5px 5px #000000;
	margin-bottom: 50px;
}

.projectname{
	color: white;	
}

#imgproject{
	margin-bottom: 200px;
}

#imgRTC{

	display : inline-block;	
	padding-bottom: 20px;
	margin-right: 150px;
	margin-left: 80px;
	height: 300px;
	width: 211px;
}

#imgkurento{
	margin-top: 10px;
	margin-right: 150px;
	display : inline-block;	
	padding-bottom: 20px;
	height: 300px;
	width: 201px;
}

#imgdocker{
	display : inline-block;	
	padding-bottom: 20px;
	margin-top: 10px;
}

#contentHide{
	padding-top: 15px;
	padding-left: 50px;
	padding-right: 50px;
	margin-left: 15px;
	color: white;
	padding-bottom: 40px;
	padding-top: 50px;
	border: 1px solid white;
	background: rgba(0,0,0,0.6);
	border-radius: 10px;
	box-shadow: 5px 5px 5px #000000;
}

#contentHide2{
	padding-top: 15px;
	padding-left: 50px;
	padding-right: 50px;
	margin-left: 15px;
	color: white;
	padding-bottom: 40px;
	padding-top: 50px;
	border: 1px solid white;
	background: rgba(0,0,0,0.6);
	border-radius: 10px;
	box-shadow: 5px 5px 5px #000000;
}

#contentHide3{
	padding-top: 15px;
	padding-left: 50px;
	padding-right: 50px;
	margin-left: 15px;
	color: white;
	padding-bottom: 40px;
	padding-top: 50px;
	border: 1px solid white;
	background: rgba(0,0,0,0.6);
	border-radius: 10px;
	box-shadow: 5px 5px 5px #000000;
}

h4{
	color: white;
}

h6{
	color:white;
}

li {
	color: white;
}

.listtool{
	margin-bottom: 30px;	
}



