.chat {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}


.chat li .chat-body p {
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon {
    margin-right: 5px;
}

.panel {
    margin-bottom: 0;
    height: 100%;
}

.panel-body {
    overflow-y: scroll;
    height: 82%;
}

.chat_window {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 300px;
    z-index: 1000;
    height: 90%;
}