/****** CHAT MODAL ******/

#sidebar-wrapper {
  margin-right: -250px;
  right: 0;
  width: 250px;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 999 ;
  transition: all 0.5s ease-in 0s;
  -webkit-transition: all 0.5s ease-in 0s;
  -moz-transition: all 0.5s ease-in 0s;
  -ms-transition: all 0.5s ease-in 0s;
  -o-transition: all 0.5s ease-in 0s;
}

.sidebar-nav {
  position: fixed;
  top: 0;
  width: 250px;
  height: 100%;
  list-style: none;
  margin: 100px 0 0 0;
  padding: 0;
  background: #ffffff;
}

.sidebar-nav li {
  line-height: 50px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 55px;
  line-height: 55px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#menu-toggle {
  top: 0;
  right: 0;
  position: fixed;
  z-index: 100;
  width: 50px;
  height: 50px;
  list-style: none;
  margin: 100px 0 0 0;
  padding: 0;
}

#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  -ms-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
}

.toggle {
  margin: 5px 5px 0 0;
}

@media screen and (max-width: 1020px) {
  .sidebar-nav{
    display: none;
  }
  #menu-toggle{
    display: none;
  }
}

/****** LOGIN MODAL ******/

.loginmodal-container {
  overflow: hidden;
  width: 100% !important;
  max-width: 350px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 2px;
  background-color: #f7f7f7;
}

.loginmodal-container h1 {
  font-size: 1.8em;
  text-align: center;
}

@CHARSET 'UTF-8';

video,
#console {
  font-size: 14px;
  line-height: 1.42857143;
  display: block;
  -webkit-transition: border-color ease-in-out .15s, box-shadow
    ease-in-out .15s;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  color: #555;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #fff none;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

#console {
  min-height: 120px;
  max-height: 360px;
}

#videoContainer {
  position: absolute;
  float: left;
}

#videoBig {
  z-index: 1;
  top: 0;
  left: 0;
  width: 640px;
  height: 480px;
}

div#videoSmall {
  position: absolute;
  z-index: 10;
  top: 15px;
  left: 400px;
  width: 240px;
  height: 180px;
  padding: 0;
  cursor: pointer;
}

div.dragged {
  z-index: 10 !important;
  cursor: all-scroll !important;
  border-color: blue !important;
}

body {
  background-image: url('../img/sayagata-400px.png') !important;
}

.accountPage{
  background-color: white;
  padding-top: 30px;

  border-radius: 5px;
}
.imageUser{
  margin-bottom: 10px;
}
textarea { resize: vertical; }
